{% extends "admin/templates/admin_template.html" %}

{% block title %}Admin dashboard{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Data</h4>

            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Metric</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Surveys in DB</th>
                        <td>{{ survey_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Oldest survey</th>
                        <td>{{ survey_oldest }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Latest survey</th>
                        <td>{{ survey_latest }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h4>Config</h4>

            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, value in config.items() %}
                    <tr>
                        <td scope="row">{{ key|safe }}</td>
                        <td>{{ value|safe }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}