{% extends "admin/templates/admin_template.html" %}

{% block title %}Admin login{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="col-10" action="/admin" method="POST">
                <div class="form-row form-group">
                    <label for="input-email" class="control-label col-sm-2">Email</label>
                    <input type="email" class="form-control col-sm-8" id="input-email" name="email" required placeholder="Your email address" />
                </div>

                <div class="form-row form-group">
                    <label for="input-password" class="control-label col-sm-2">Password</label>
                    <input type="password" class="form-control col-sm-8" id="input-password" name="password" required placeholder="Your password" />
                </div>

                <div class="form-row form-group">
                    <span class="col-sm-2"></span>
                    <button type="submit" class="btn btn-primary col-sm-3">Log me in</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}