{% extends "admin/templates/admin_template.html" %}

{% block title %}Admin profile{% endblock %}

{% block main %}
<div class="container">
    <h3>Change your password</h3>
    <div class="row">
        <div class="col">
            <form class="col-10" action="/admin/change-password" method="POST">
                <div class="form-row form-group">
                    <label for="input-old-password" class="control-label col-sm-3">Old password</label>
                    <input type="password" class="form-control col-sm-7" id="input-old-password" name="old_password" required placeholder="Your current password" />
                </div>

                <div class="form-row form-group">
                    <label for="input-new-password-1" class="control-label col-sm-3">New password</label>
                    <input type="password" class="form-control col-sm-7" id="input-new-password-1" name="new_password_1" required placeholder="Your new password" />
                </div>

                <div class="form-row form-group">
                    <label for="input-new-password-2" class="control-label col-sm-3">New password again</label>
                    <input type="password" class="form-control col-sm-7" id="input-new-password-2" name="new_password_2" required placeholder="Retype your new password" />
                </div>

                <div class="form-row form-group">
                    <span class="col-sm-3"></span>
                    <button type="submit" class="btn btn-primary col-sm-3">Update password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}