{% extends "public/templates/public_template.html" %}

{% block title %}About{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>About Incometer</h4>
            <p>
                This is a simple (so far) tool which you can use to check the income distribution in your
                team or organisation with minimal hassle.
            </p>
            <p>
                In most companies, salaries are negotiated in secret and this is a culture or not disclosing it within
                the team. Many people are also uncomfortable with making this information public, even among friends.
                At the the same time, they wonder if in their team everyone is paid more or less the same - or not.
            </p>
            <p>
                This tool allows to create a fully anonymous surveys for people to submit their salary figures,
                and presents anonymised report allowing every survey participant to see for themselves whether they
                are under- or overpaid.
            </p>
            <p>
                An example of the stats screen looks like:
            </p>
            <p style="text-align: center;">
                <img src="/static/img/sample_results_screen.png" alt="Screenshot of a sample results page" />
            </p>
            <p>
                It is still a work in progress, and the author cannot promise that the database is not going to be
                reset during the next update - but the again the whole point of this tool is to be minimalistic and
                anonymous, so I think you might still find it useful.
            </p>

            <h4>Questions?</h4>
            <ul>
                <li>
                    Source:
                    <a href="https://gitlab.com/yakopov/incometer">https://gitlab.com/yakopov/incometer</a>
                </li>
                <li>
                    Author: Yuriy Akopov
                    <a href="mailto:akopov@hotmail.co.uk">akopov@hotmail.co.uk</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}