{% extends "public/templates/public_template.html" %}

{% block title %}Answer submitted{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Answer received</h4>
            <hr/>
            <p>Thank you - your answer has been added!</p>
            <p>
                You may now want to see
                <a href="/survey/results?user_key={{ user_key|urlencode }}">survey results</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}