{% extends "public/templates/public_template.html" %}

{% block title %}Participate in survey{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Participate in survey</h4>
            <hr/>
            <p>
                You are about to submit your answer for <strong>{{ survey_title|safe }}</strong>
            </p>
            {% if survey_description|length %}
                <p class="text-muted">{{ survey_description|safe }}</p>
            {% else %}
                <p class="text-muted">No further description was provided for this survey.</p>
            {% endif %}
            <p>Banding was set up as <strong>{{ survey_band_size }}</strong> for this survey.</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <form class="col-11" action="/survey/answer" method="POST">
                <div class="form-row form-group">
                    <label for="input-answer" class="control-label col-sm-3">Your answer</label>
                    <input type="number" class="form-control col-sm-8" id="input-answer" name="answer" required aria-describedby="help-answer"/>
                    <div class="form-row">
                        <span class="col-sm-3"></span>
                        <small id="help-answer" class="form-text text-muted col-sm-8">
                            It is important that you are in agreement with other participants about what exactly you
                            are comparing, i.e. that you are all submitting your figures for the same period
                            (annual/monthly/weekly/day rate), before or after tax, with or without a bonus. You also
                            need to have the same currency and other similar details in mind - in short, you need to
                            be submitting comparable answers.
                        </small>
                    </div>
                </div>

                <div class="form-row form-group">
                    <span class="col-sm-3"></span>
                    <input type="hidden" name="user_key" value="{{ user_key }}">
                    <button type="submit" class="btn btn-primary col-sm-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}