{% extends "public/templates/public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Welcome to Incometer!</h4>
            <p>Please see the <a href="/about">About</a> page if you don't know what it is.</p>
        </div>
    </div>

    <hr/>

     <div class="row">
        <div class="col">
            <p><strong>Start a new survey for your team:</strong></p>

            <form class="col-10" action="/survey/add" method="GET">
                <div class="form-row form-group">
                    <span class="col-sm-3"></span>
                    <button type="submit" class="btn btn-primary col-sm-3">Start here</button>
                </div>
            </form>
        </div>
    </div>

    <hr />

     <div class="row">
        <div class="col">
            <p><strong>Participate in an existing survey:</strong></p>

            <form class="col-10" action="/survey/answer" method="GET">
                <div class="form-row form-group">
                    <label for="input-user-key" class="control-label col-sm-3">Survey user key</label>
                    <input type="text" class="form-control col-sm-7" id="input-user-key" name="user_key" required />
                </div>

                <div class="form-row form-group">
                    <span class="col-sm-3"></span>
                    <button type="submit" class="btn btn-primary col-sm-3">Take part in a survey</button>
                </div>
            </form>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <p><strong>View survey results:</strong></p>

            <form class="col-10" action="/survey/results" method="GET">
                <div class="form-row form-group">
                    <label for="input-results-user-key" class="control-label col-sm-3">Survey user key</label>
                    <input type="text" class="form-control col-sm-7" id="input-results-user-key" name="user_key" required />
                </div>

                <div class="form-row form-group">
                    <span class="col-sm-3"></span>
                    <button type="submit" class="btn btn-primary col-sm-3">View results</button>
                </div>
            </form>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <p><strong>Manage your survey:</strong></p>

            <form class="col-10" action="/survey/update" method="GET">
                <div class="form-row form-group">
                    <label for="input-admin-user-key" class="control-label col-sm-3">Survey user key</label>
                    <input type="text" class="form-control col-sm-7" id="input-admin-user-key" name="user_key" required />
                </div>

                <div class="form-row form-group">
                    <label for="input-admin-admin-key" class="control-label col-sm-3">Secret admin key</label>
                    <input type="text" class="form-control col-sm-7" id="input-admin-admin-key" name="admin_key" required />
                </div>

                <div class="form-row form-group">
                    <span class="col-sm-3"></span>
                    <button type="submit" class="btn btn-primary col-sm-3">Review your survey</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}