{% extends "public/templates/public_template.html" %}

{% block title %}New survey{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>New survey</h4>
            <hr/>

            <form class="col-11" action="/survey/add" method="POST">
                <div class="form-row form-group">
                    <label for="input-title" class="control-label col-sm-3">Survey title</label>
                    <input type="text" class="form-control col-sm-8" id="input-title" name="title" required placeholder="My team's survey" />
                </div>

                <div class="form-row form-group">
                    <label for="input-description" class="control-label col-sm-3">Description</label>
                    <textarea class="form-control col-sm-8" id="input-description" name="description"></textarea>
                </div>

                <div class="form-row form-group">
                    <label for="input-reveal-after" class="control-label col-sm-3">Reveal after</label>
                    <input type="number" class="form-control col-sm-8" id="input-reveal-after" name="reveal_after" placeholder="5" aria-describedby="help-reveal-after"/>
                    <div class="form-row">
                        <span class="col-sm-3"></span>
                        <small id="help-revel-after" class="form-text text-muted col-sm-8">
                            With not enough answers it will be easier to guess which figures were
                            submitted even from anonymised stats. You can set here after how many
                            submissions survey results are going to be unlocked.
                        </small>
                    </div>
                </div>

                <div class="form-row form-group">
                    <label for="input-band-size" class="control-label col-sm-3">Band size</label>
                    <input type="number" class="form-control col-sm-8" id="input-band-size" name="band_size" placeholder="5000" aria-describedby="help-band-size" />
                    <div class="form-row">
                        <span class="col-sm-3"></span>
                        <small id="help-band-size" class="form-text text-muted col-sm-8">
                            For greater anonymity results of the survey will be presented
                            broken down by bands, e.g. for band of 5000 figures of 20000 and 23000
                            will be presented as the same.
                        </small>
                    </div>
                </div>

                <div class="form-row form-group">
                    <span class="col-sm-3"></span>
                    <button type="submit" class="btn btn-primary col-sm-3">Start this survey</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}