{% extends "public/templates/public_template.html" %}

{% block title %}Survey results{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Survey results</h4>
            <hr/>

            <p>
                Results for <strong>{{ survey_title|safe }}</strong> created on {{ survey_datetime_utc }}.
            </p>
            {% if survey_description|length %}
                <p class="text-muted">{{ survey_description|safe }}</p>
            {% else %}
                <p class="text-muted">No further description was provided for this survey.</p>
            {% endif %}
            <p>Banding was set up as <strong>{{ survey_band_size }}</strong> for this survey.</p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <table class="table table-striped table-sm col-5">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Metric</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Answers</th>
                        <td>{{ result_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Mean value</th>
                        <td>{{ result_mean|round|int }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Median value</th>
                        <td>{{ result_median|round|int }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Min/max diff</th>
                        <td>{{ '%.2f'|format(result_min_max_diff) }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <img src="data:image/png;base64, {{ result_histogram }}" alt="Histogram"/>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}