{% extends "public/templates/public_template.html" %}

{% block title %}Survey not found{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Survey not available</h4>
            <hr/>
            <p>
                Survey <strong>{{ user_key | safe }}</strong> is not available.
            </p>
            <p>
                This is because it doesn't exist or has been locked by its creator.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}