{% extends "public/templates/public_template.html" %}

{% block title %}Survey results not ready{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Survey results not ready</h4>
            <hr/>

            <p>
                Results for <strong>{{ survey_title|safe }}</strong> created on {{ survey_datetime_utc }}
                are not available yet as the required number of answers
                hasn't been submitted yet - still waiting for <strong>{{ survey_remain }}</strong>
                out of <strong>{{ survey_reveal_after }}</strong> requested by creator.
            </p>
            <p>
                Please come back later.
            </p>

            {% if survey_description|length %}
                <p class="text-muted">{{ survey_description|safe }}</p>
            {% else %}
                <p class="text-muted">No further description was provided for this survey.</p>
            {% endif %}
            <p>Banding was set up as <strong>{{ survey_band_size }}</strong> for this survey.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}