{% extends "public/templates/public_template.html" %}

{% block title %}Survey added!{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Your user key is <strong>{{ user_key }}</strong>. This is the key that can be shared with survey
                participants - send them this <a href="/survey/answer?user_key={{ user_key|urlencode }}">link</a>.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <p>
                Your admin key is <strong>{{ admin_key }}</strong>. Keep it secret as you will need it to control your
                survey, e.g. to lock or delete it.
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <p class="text-muted">
                You'll be receiving this information by email in the future, perhaps, but for now it's an unnecessary
                feature for a pilot project adding an external dependency on a mail server. Plus, this way we are keeping
                thing really anonymous, so please save this page or copy and paste the keys to a safe place on your device.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}