{% extends "public/templates/public_template.html" %}

{% block title %}Manage survey{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Manage Survey</h4>
            <p>
                Survey <strong>{{ survey_title|safe }}</strong>
                created on <strong>{{ survey_datetime_utc|safe }}.</strong>
            </p>
            {% if survey_description|length %}
                <p class="text-muted">{{ survey_description|safe }}</p>
            {% else %}
                <p class="text-muted">No further description was provided for this survey.</p>
            {% endif %}
            <p>Banding was set up as <strong>{{ survey_band_size }}</strong> for this survey.</p>
            <p>
                <strong>{{ answer_count }}</strong> answers submitted
                (<strong>{{ survey_reveal_after }}</strong> required).
            </p>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col">
            <form class="col-10" action="/survey/update" method="POST">
                <div class="form-row form-group">
                    <input type="hidden" name="user_key" value="{{ user_key }}" />
                    <input type="hidden" name="admin_key" value="{{ admin_key }}" />
                    <input type="hidden" name="lock" value="{{ survey_is_locked }}" />
                    <button type="submit" class="btn btn-primary col-sm-3">
                        {% if survey_is_locked == 1 %}
                            Unlock survey
                        {% else %}
                            Lock survey
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col">
            <form class="col-10" action="/survey/update" method="POST">
                <div class="form-row form-group">
                    <input type="hidden" name="user_key" value="{{ user_key }}" />
                    <input type="hidden" name="admin_key" value="{{ admin_key }}" />
                    <input type="hidden" name="delete" value="True" />
                    <button type="submit" class="btn btn-primary col-sm-3">Delete survey</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}